html,body{
    background-color: #2D2B2C !important;
    padding: 20px !important;
    height: 100% !important;
  }
  .App{
    background-color: #DCDCDC;
    height: 90vh;
  }
  .sidebarLink{
    text-decoration: none;
    border-bottom: 2px solid #707070;
    font: bold 13px segoe UI;
    color: white;
  }
  .sidebarLink:hover{
    background-color: #707070;
    color: white;
  }